.header-hero {
  background-image: url(../img/header-hero/header-hero-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.header-hero-content {
  display: flex;
  text-align: left;
  padding: 12.6875rem 40.5rem 12.75rem 6.5625rem;
}
.header-hero-content__title {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-size: 3.9375em;
  color: var(--header-hero-text-color);
  margin-bottom: 1.25rem;
}
.header-hero-content__subtitle {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 1.25em;
  color: var(--global-text-color);
  margin-bottom: 2.5rem;
}
.header-hero-content__button {
  padding: 1.3125rem 2.1875rem;
  background-color: var(--header-hero-button);
  border-radius: 5.4375rem;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 1.125em;
  color: var(--global-text-color);
}
